/* Use Selectors and attributes for the HTML design */
body{
    width: 900px;
    max-width: 900px;
    margin: 0 auto;
}
#hr1{
    border-top: 10px solid black;
    border-top-width: 10px;
    margin-right: 90%;

    

}
hr{
border-top: 2px solid black;
}
#title1{

    margin-left: 40%;
   
}
#Vorname{
    margin-left: 38.1%;
    
}
#Nachname{
    margin-left: 37.4%;
   
}
#Man{
 margin-left: 37%;
 width: 80px;
 height: 30px;
}
 
 
#Woman{
    
    width: 80px;
    height: 30px;
}
    
   
#Man:hover{
    border-bottom-color: red;
    
    
}
#Man:active{
    border-bottom-color: red;
   
    
}
#Woman:hover{
    border-bottom-color: red;
    
    
}
#Woman:active{
    border-bottom-color: red;
    
    
}

#IT{
    margin-left: 38.3%;
    width: 52px;
    height: 30px;
    
}
#DE{
    width: 52px;
    height: 30px;
}
#FR{
    width: 52px;
    height: 30px;
}
#IT:hover{
    border-bottom-color: red;
}
#DE:hover{
    border-bottom-color: red;
}
#FR:hover{
    border-bottom-color: red;
}
#IT:active{
    border-bottom-color: red;
}
#DE:active{
    border-bottom-color: red;
}
#FR:active{
    border-bottom-color: red;
}

#Telefon{
margin-left: 39.5%;


}
#Mobile{
 margin-left: 39.5%;
 
}
#hau{
 margin-left: 36.5%;
 
}
#fax{
    margin-left: 41%;
    
}
#Mail{
margin-left: 40%;

}
#Mail2{
    margin-left: 40%;
    
}
#Frima{
   margin-left: 39.7%; 
   
}
#Frima2{
   margin-left: 37%;
   
}

#Homepage{
   margin-left: 37.5%;
   
}
input{
    border-left: white;
    border-right: white;
    border-top: white; 
}
#add1{
    margin-left: 35%;
   
    width: 116px;
}
#add2{
   
    width: 35px;
}
#zusa{
    margin-left: 36%;
border-style: bottom;

}
#Postfach{
    margin-left: 38.7%;
   
}

#pl{
    margin-left: 38.7%;
    
}
#pl1{
   
    width: 36px;
}
#pl2{
   
    width: 116px;
}
.adre{
    margin-left: 36.9%;
    
}
#spe{
    margin-left: 70%;
    background-color: red;
    color: white;
    padding: 15px;
 }
 #adr1{
  
    width: 35px;
 }
 #adr2{
    
    width: 116px;
 }