/* Use Selectors and attributes for the HTML design */
#hr1{
    border-top: 10px solid black;
    border-top-width: 10px;
    margin-right: 90%;

    

}
hr{
border-top: 2px solid black;
}
#title1{

    margin-left: 40%;
    border-left: white;
    border-right: white;
    border-top: white;
}
#Vorname{
    margin-left: 38.1%;
    border-left: white;
    border-right: white;
    border-top: white;
}
#Nachname{
    margin-left: 37.4%;
    border-left: white;
    border-right: white;
    border-top: white;
}
#Man{
 margin-left: 37%;
 width: 70px;
 border-left: white;
    border-right: white;
    border-top: white;
 
}
#Woman{
    margin-left: 0%;
    width: 70px;
    border-left: white;
    border-right: white;
    border-top: white;
    
   }
#Man:hover{
    border-bottom-color: red;
    
    
}
#Man:active{
    border-bottom-color: red;
   
    
}
#Woman:hover{
    border-bottom-color: red;
    
    
}
#Woman:active{
    border-bottom-color: red;
    
    
}

#IT{
    margin-left: 38.3%;
    width: 45px;
    border-left: white;
    border-right: white;
    border-top: white;
}
#DE{
    width: 45px;
    border-left: white;
    border-right: white;
    border-top: white;
}
#FR{
    width: 45px;
    border-left: white;
    border-right: white;
    border-top: white;
}
#IT:hover{
    border-bottom-color: red;
}
#DE:hover{
    border-bottom-color: red;
}
#FR:hover{
    border-bottom-color: red;
}
#IT:active{
    border-bottom-color: red;
}
#DE:active{
    border-bottom-color: red;
}
#FR:active{
    border-bottom-color: red;
}

#Telefon{
margin-left: 39.5%;
border-left: white;
border-right: white;
border-top: white;

}
#Mobile{
 margin-left: 39.5%;
 border-left: white;
 border-right: white;
 border-top: white;
}
#hau{
 margin-left: 36.5%;
 border-left: white;
 border-right: white;
 border-top: white;
}
#fax{
    margin-left: 41%;
    border-left: white;
    border-right: white;
    border-top: white;
}
#Mail{
margin-left: 40%;
border-left: white;
border-right: white;
border-top: white;
}
#Mail2{
    margin-left: 40%;
    border-left: white;
    border-right: white;
    border-top: white;
}
#Frima{
   margin-left: 39.7%; 
   border-left: white;
    border-right: white;
    border-top: white;
}
#Frima2{
   margin-left: 37%;
   border-left: white;
   border-right: white;
   border-top: white;
}

#Homepage{
   margin-left: 37.5%;
   border-left: white;
   border-right: white;
   border-top: white;
}
#add1{
    margin-left: 35%;
    border-left: white;
    border-right: white;
    border-top: white;
    width: 116px;
}
#add2{
    border-left: white;
    border-right: white;
    border-top: white;
    width: 35px;
}
#zusa{
    margin-left: 36%;
border-style: bottom;
border-left: white;
border-right: white;
border-top: white;
}
#Postfach{
    margin-left: 38.7%;
    border-left: white;
    border-right: white;
    border-top: white;
}

#pl{
    margin-left: 38.7%;
    border-left: white;
    border-right: white;
    border-top: white;
}
#pl1{
    border-left: white;
    border-right: white;
    border-top: white;
    width: 36px;
}
#pl2{
    border-left: white;
    border-right: white;
    border-top: white;
    width: 116px;
}
.adre{
    margin-left: 36.9%;
    border-left: white;
    border-right: white;
    border-top: white;
}
#spe{
    margin-left: 70%;
    background-color: red;
    color: white;
    padding: 15px;
 }
 #adr1{
    border-left: white;
    border-right: white;
    border-top: white;
    width: 35px;
 }
 #adr2{
    border-left: white;
    border-right: white;
    border-top: white;
    width: 116px;
 }